<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
    <div class="heading">
        <div class="container">
            <div class="heading-wrap">
                <div class="hamburger">
                    <div class="hamburger__top"></div>
                    <div class="hamburger__middle"></div>
                    <div class="hamburger__bottom"></div>
                </div>
                <div class="heading__logo">
                    <img src="img/logo.svg" alt="Tam Taram">
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <div class="container">
            <div class="nav-bar-wrap">
                <div class="nearest-salon">
                    <div class="nearest-salon__cursor">
                        Nearest Salon
                    </div>
                    <div class="nearest-salon__address">
                        Plush Salon 92101
                    </div>
                </div>
                <div class="nav-bar__search">
                    <img src="img/ico_search.svg" alt="Search">
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <ul class="breadcrumbs">
            <ul class="breadcrumbs__item">home</ul>
            <ul class="breadcrumbs__items-separator">/</ul>
            <ul class="breadcrumbs__item-current">videos</ul>
        </ul>
        <div class="article">
            <h1 class="article__title">
                Videos
            </h1>
            <div class="main-item">
                <div class="main-item__video">
                    <a data-fancybox href="https://www.youtube.com/watch?v=z8M0Fa1JVco&feature=youtu.be">
                        <div class="main-item__preview">
                            <img src="img/play-but.png" alt="Play" class="play-btn">
                        </div>
                    </a>
                </div>
                <div class="main-item__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Pellentesque lobortis, nisl at ullamcorper egestas, felisadi piscing dolor, a interdum lorem urna
                    quis magna.
                </div>
            </div>
            <div class="video-examples">
                <% const videoExamplesItems = [
                    {
                        title: ['step', 'by', 'step'],
                        videos: ['z8M0Fa1JVco', 'Wi2KcdoCuo4', '8H6dYUgQKB8', 'PZjGrmHdFME', '_wLGr24VeoI', 'DG4FAU5qmMY']
                    },
                    {
                        title: ['craft', 'education'],
                        videos: ['RmNWNLXmswk', '-tztXOz8Vc0', 'kUfIVtyydgQ']
                    },
                    {
                        title: ['inspiration'],
                        videos: ['VmmwwzR536g', 'vz0k8O-Ef9Y', '6oPBFnsqJW8']
                    }
                ]
                %>
                <% videoExamplesItems.forEach(item => { %>
                <div class="video-examples-item">
                    <h2 class="video-examples-item__title">
                        <% item.title.forEach(word => { %>
                        <span><%= word %></span>
                        <% }) %>
                    </h2>
                    <div class="slick-slider">
                        <% item.videos.forEach((videoId, index) => { %>
                            <div class="slick-slider__item">
                                <a data-fancybox href="https://www.youtube.com/watch?v=<%= videoId %>&feature=youtu.be">
                                    <img class="slick-slider__item-preview"
                                         src="https://img.youtube.com/vi/<%= videoId %>/mqdefault.jpg">
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>
<footer>
    <%
    const share = [
        {
            img: 'ico_facebook.svg',
            href: '#',
            alt: 'share facebook',
            class: 'share__facebook'
        },
        {
            img: 'ico_twitter.svg',
            href: '#',
            alt: 'share twitter',
            class: 'share__twitter'
        },
        {
            img: 'ico_pinterest.svg',
            href: '#',
            alt: 'share pinterest',
            class: 'share__pinterest'
        },
        {
            img: 'ico_youtube.svg',
            href: '#',
            alt: 'share youtube',
            class: 'share__youtube'
        },
        {
            img: 'ico_instagram.svg',
            href: '#',
            alt: 'share instagram',
            class: 'share__instagram'
        }

    ] %>
    <div class="container">
        <div class="footing">
            <div class="share">
                <% share.forEach(item => { %>
                    <a href="<%= item.href %>">
                        <object class="share__ico <%= item.class %>"
                                type="image/svg+xml"
                                data="img/<%= item.img %>">
                        </object>
                    </a>
                <% }) %>
            </div>
            <div class="footing-options">
                <div class="location">
                    location: <span>united states</span>
                </div>
                <div class="language">
                    language: <span>english</span>
                </div>
            </div>
            <div class="footer-nav">
                <% class NavItem {
                    constructor(text, href = '#') {
                        this.text = text
                        this.href = href
                    }
                }

                const footerNav = [
                    new NavItem('privacy police'),
                    new NavItem('term of use'),
                    new NavItem('contact us'),
                    new NavItem('newsletter'),
                    new NavItem('sitemap')
                ] %>
                <ul>
                    <% footerNav.forEach(item => { %>
                        <li><a href="<%= item.href %>"><%= item.text %></a></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
